html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

label {
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Tilt Warp', cursive;
  background: rgb(136, 189, 198);
  background: linear-gradient(
    90deg,
    rgba(136, 189, 198, 1) 0%,
    rgba(27, 241, 151, 1) 100%
  );
  overflow-y: scroll;
}

h1 {
  text-align: center;
  font-size: 3em;
}

input:checked ~ .border {
  background-color: gold;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
}

.meme-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: 16em;
  width: 50vw;
}

.meme-item {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-top: 0.3em;
  border-top: 0.1em solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.meme-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity ease 350ms;
  opacity: 0.5;
}

.meme-title {
  font-size: 2em;
}

.toggle-icon {
  width: 2em;
  height: 2em;
  border: 0.2em solid rgba(255, 255, 255, 0);
  border-radius: 50em;
  transition: all ease 350ms;
}

.meme-container {
  height: 0;
  overflow: hidden;
  transition: height ease 350ms;
}

.meme-item:hover .meme-container {
  height: calc(50vw * 5 / 6);
}
.meme-item:hover .toggle-icon {
  border: 0.2em solid white;
  transform: rotate(-135deg);
}

.meme-img {
  width: 100%;
  transition: opacity ease 350ms;
}

input {
  display: none;
}

input[id^='meme-']:checked ~ .meme-container {
  height: calc(50vw * 5 / 6);
}
input[id^='meme-']:checked ~ .meme-header .toggle-icon {
  border: 0.2em solid white;
  transform: rotate(-135deg);
}

.main-content:not(:hover) .toggle-icon {
  opacity: 0;
}

.main-content:not(:hover) input[id^='meme-']:checked ~ .meme-header {
  opacity: 1;
}

.main-content:hover .meme-item:active .meme-header {
  opacity: 1;
}
.main-content:hover .meme-item:active .meme-img {
  opacity: 0.5;
}

@media screen and (max-width: 520px) {
  input[id^='meme-']:checked ~ .meme-container {
    height: 13.5em;
  }
  .meme-item:hover .meme-container {
    height: 13.5em;
  }
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 2.4em;
  }
  .meme-title {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2em;
  }
  .meme-title {
    font-size: 1.2em;
  }
}
